@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #202020;
  --color-secondary: #f0f0f0;
  --color-accent: #acc56a;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-md {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out;
}

/* Add this to ensure the hero section takes up the full viewport height on mobile devices */
.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* Add this new style for the fixed header */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.fixed-header.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}